.package {
    padding: 55px 0;
    color: #ffffff;


    &-title {
        font-size: 36px;
        text-align: center;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 65px;
        color: #333333;
    }

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;

        
       

        h3 {
            font-size: 18px;
            margin: 0;
            margin-bottom: 25px;
        }

        p {
            font-size: 14px;
            line-height: 23px;
            margin-top: 0;
            margin-bottom: 35px;
            text-align: justify;

        }
    }

    &-content-main {
        max-width: 730px;
        border-radius: 8px;
        margin-bottom: 30px;
        display: flex;
        overflow: hidden;
        position: relative;

        // @media (max-width: 1080px) {
        //     align-self: center;
        // }
        
        .content-img {
            flex-basis: 50%;
           
            img {
                display: block;
            }
        }

        .content-info {
            flex-basis: 50%;
            padding: 45px 25px 30px 40px;
            background-color: $blue;
            display: flex;
            flex-direction: column;
        }

        .content-info-cost {
            margin-top: auto;
        }

        &.flash-offer {
            &::before {
            position: absolute;
            content: 'Flash Offer';
            font-size: 12px;
            width: 95px;
            height: 30px;
            left: 0;
            top: 25px;
            background: $red;
            padding-top: 8px;
            padding-left: 15px;
            border-radius: 0 4px 4px 0;
            }
        }
    }

    &-content-secondary {
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        margin-bottom: 30px;
        max-width: 350px;
        position: relative;


        .content-img {
            flex-basis: 50%;
            img {
                display: block;
            }
        }

        .content-info {
            padding: 30px 20px 25px 30px;
            background-color: $blue;
            display: flex;
            flex-direction: column;
        }

        .content-info-cost {
            margin-top: 30px;
        }

        &.flash-offer {
            &::before {
            position: absolute;
            content: 'Flash Offer';
            font-size: 8px;
            width: 60px;
            height: 20px;
            left: 0;
            top: 25px;
            background: $red;
            padding-top: 6px;
            padding-left: 10px;
            border-radius: 0 4px 4px 0;
            }
        }
    }
}

.content-info-cost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;


    .price {
        font-size: 24px;
        font-weight: 700;
    }

    &.flash-offer {

        &::before {
            position: absolute;
            content: attr(data-discount);
            font-size: 14px;
            text-decoration: line-through;
            left: 0;
            top: -20px;
        }
    }


}

.content-info-option {
    font-size: 12px;
    margin-bottom: 12px;
    margin-left: 30px;
    position: relative;
}

.option {

    &__location {

        &::before {
            position: absolute;
            content: url(../img/location.png);
            left: -30px;
        }
    }

    &__guest {

        &::before {
            position: absolute;
            content: url(../img/guest.png);
            left: -30px;
        }
    }

    &__room {

        &::before {
            position: absolute;
            content: url(../img/room.png);
            left: -30px;
        }
    }
}
