.about {
    padding-top: 55px;
    padding-bottom: 35px;

    h2 {
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 0;
        margin-bottom: 70px;
    }

    .slide-info {
        position: relative;
        max-width: 730px;
        margin: 0 auto;
        margin-top: 50px;
        padding-top: 55px;
        padding-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        background: #ffffff;


        
        &-photo {
            position: absolute;
            left: calc(50% - 45px);
            top: -45px;
            width: 90px;
            height: 90px;
            
        }

        // &-wrapper {
        //     max-width: 540px;
        //     margin: 0 auto;
        //     padding-top: 55px;
        //     padding-bottom: 30px;
        //     display: flex;
        //     flex-direction: column;
        //     align-items: center;
        // }

        &-name {
            color: $red;
            font-size: 12px;
            font-weight: 700;
            margin-bottom: 10px;
        }

        &-date {
            font-size: 10px;
        }

        &-content {
            max-width: 540px;
            margin: 0;
            margin-top: 40px;
            font-size: 12px;
            line-height: 160%;
            text-align: justify;
        }

        &-rating {}

    }

    .swiper-container {


        .slide-info-left-btn {
            position: absolute;
            top: 50%;
            left: 0;
            cursor: pointer;
            z-index: 1;
        }

        .slide-info-right-btn {
            position: absolute;
            top: 50%;
            right: 0;
            cursor: pointer;
            z-index: 1;
        }
    }
}
