*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $muli;
    color: #333333;
}

main {
    background-color: $light-blue;
}

a {
    text-decoration: none;

}

.main-link {
    background-color: $red;
    color: #fff;
    border-radius: 4px;

    &:hover {
        background-color: $hover-red;
    }
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.content {
    position: relative;
    max-width: 1110px;
    margin: auto;
}

// Большая маленькая кнопки бронирования отеля

.book-btn-large {
    padding: 12px 25px;
    background-color: $red;
    border: none;
    border-radius: 4px;
    font-family: $nuni;
    font-size: 14px;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        background-color: $hover-red;
    }
}

.book-btn-small {

}