*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: $muli;
    color: #333333;
}

main {
    background-color: $light-blue;
}

a {
    text-decoration: none;

}

.main-link {
    background-color: $red;
    color: #fff;
    border-radius: 4px;

    &:hover {
        background-color: $hover-red;
    }
}

img {
    max-width: 100%;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.content {
    position: relative;
    max-width: 1110px;
    margin: auto;

    // @media (max-width: 1080px) {
    //     max-width: 900px;
    //     border: 1px solid #000;
    // }
}

// Большая и маленькая кнопки бронирования отеля

.book-btn {
    background-color: $red;
    border: none;
    border-radius: 4px;
    font-family: $nuni;
    color: #ffffff;
    cursor: pointer;

    &:hover {
        background-color: $hover-red;
    }

}

.book-btn-large {
    width: 120px;
    height: 40px;
    font-size: 14px;

}

.book-btn-small {
    width: 100px;
    height: 30px;
    font-size: 12px;

}

// Большая и маленькая наклейки flash offer 

// .flash-offer-label-small {}

// .flash-offer-label-large {}