.header {
    background: $light-blue;
    height: 60px;
}


.help {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: $muli;
    font-size: 10px;
    color: #333333;

    span {
        width: 65%;
    }

    a {
        color: #333333;
        min-width: 80px;
    }

    &-gift {
        position: relative;


        &::before {
            content: url(../svg/gift.svg);
            position: absolute;
            left: -30px;
            bottom: calc(50% - 10px);
        }
    }

    &-loyal {
        position: relative;


        &::before {
            content: url(../svg/star.svg);
            position: absolute;
            left: -30px;
            bottom: calc(50% - 10px);
        }
    }


}

.account {
    padding: 40px 0;
}

.account {
    .content {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-gap: 30px;
        align-items: center;
    }

    h1 {
        grid-column: 1 / 4;
        font-size: 24px;
        font-family: $lucky;
        margin: 0;
        span {
            color: $red;
        }
    }

    &-search {
        grid-column: 4 / 8;
        position: relative;

        input {
            width: 100%;
            border: none;
            background: #F5FAFE;
            height: 40px;
            border-radius: 0 6px 6px 0;
            padding-left: 20px;
            font-size: 12px;

        }
        button {
            height: 40px;
            width: 65px;
            position: absolute;
            right: 0;
            border-radius: 0 6px 6px 0;
            border: none;
            background-image: url(../svg/search.svg);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            cursor: pointer;

            // &:hover {
            // }
        }
    }

    &-cart {
        grid-column: 10 / 11;
        text-align: center;
        width: 34px;
        height: 34px;
        cursor: pointer;
    }

    &-info {
        grid-column: 11 / -1;
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.main-nav {
    background-color: $blue;

    .content {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-link {
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        font-family: $muli;
        font-weight: 700;
        line-height: 18px;

        &:hover {
            text-decoration: underline;
        }
    }
   
}


